*.exe
*.ll
*.cay
*.eol

!/examples/
!/lib/
!/mingw-minimal/
!/llvm-minimal/


!/llvm-minimal/bin/*.exe
!/examples/*.eol
!/examples/errors/*.eol
!/examples/*.cay
!/examples/errors/*.cay

.trae/
/*.cpp
*.obj

*.o

!/lib/mingw64/lib/gcc/x86_64-w64-mingw32/15.2.0/*.o
!/mingw-minimal/bin/*.exe
!/lib/mingw64/x86_64-w64-mingw32/lib/*.o

target/
